@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Ext JS Files -->
    <link rel="stylesheet" href="http://cdn.sencha.io/try/extjs/4.1.1/resources/css/ext-all.css" />
    <script src="http://cdn.sencha.io/try/extjs/4.1.1/ext-all.js"></script>
<h2></h2>
<script type="text/javascript" src="~/app.js"></script>
